<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pumluda.infrastructure.dao.IActivityOrderRecordDao">

    <resultMap id="dataMap" type="ActivityOrderRecordPo">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="user_id" property="userId"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="activity_business_id" property="activityBusinessId"/>
        <result column="participation_type" property="participationType"/>
        <result column="quota_occupied" property="quotaOccupied"/>
        <result column="record_status" property="recordStatus"/>
        <result column="join_time" property="joinTime"/>
        <result column="expire_time" property="expireTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getActivityOrderRecord" resultMap="dataMap">
        SELECT order_no,
               user_id,
               activity_id,
               activity_name,
               activity_business_id,
               participation_type,
               quota_occupied,
               record_status,
               join_time,
               expire_time
        FROM group_buy_market_better.activity_order_record
        WHERE order_no = #{orderNo}
          AND activity_id = #{activityId}
    </select>

    <select id="getAllActivityOrderRecord" resultMap="dataMap">
        SELECT order_no,
               user_id,
               activity_id,
               activity_name,
               activity_business_id,
               participation_type,
               quota_occupied,
               record_status,
               join_time,
               expire_time
        FROM group_buy_market_better.activity_order_record
    </select>

    <insert id="addActivityOrderRecord" parameterType="ActivityOrderRecordPo">
        INSERT INTO group_buy_market_better.activity_order_record(order_no, user_id, activity_id, activity_name,
                                                                  activity_business_id, participation_type,
                                                                  quota_occupied, record_status, join_time, expire_time,
                                                                  create_time, update_time)
        VALUES (#{orderNo},
                #{userId},
                #{activityId},
                #{activityName},
                #{activityBusinessId},
                #{participationType},
                #{quotaOccupied},
                #{recordStatus},
                #{joinTime},
                #{expireTime},
                now(),
                now())
    </insert>

    <select id="queryTimeoutRecord" resultMap="dataMap">
        <![CDATA[
        SELECT order_no,
               user_id,
               activity_id,
               activity_name,
               activity_business_id,
               participation_type,
               quota_occupied,
               record_status,
               join_time,
               expire_time
        FROM group_buy_market_better.activity_order_record
        WHERE expire_time <= now()
        AND record_status = 0
        ]]>
    </select>

    <update id="closeActivityOrder">
        UPDATE group_buy_market_better.activity_order_record
        SET record_status = 3,
            quota_occupied = 0
        WHERE activity_id = #{activityId}
          AND order_no = #{orderNo}
    </update>

    <update id="settleActivityOrder">
        UPDATE group_buy_market_better.activity_order_record
        SET record_status = 1,
            quota_occupied = 1
        WHERE activity_id = #{activityId}
          AND order_no = #{orderNo}
    </update>

    <select id="getRecordsByBusinessId" resultMap="dataMap">
        SELECT order_no, user_id, activity_id, activity_name,
               activity_business_id, participation_type,
               quota_occupied, record_status, join_time, expire_time
        FROM group_buy_market_better.activity_order_record
        WHERE activity_business_id = #{activityBusinessId}
        ORDER BY join_time ASC
    </select>

</mapper>
