<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pumluda.infrastructure.dao.IGroupTeamDao">

    <resultMap id="dataMap" type="GroupTeamPo">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="group_team_id" property="groupTeamId"/>
        <result column="leader_user_id" property="leaderUserId"/>
        <result column="required_num" property="requiredNum"/>
        <result column="current_num" property="currentNum"/>
        <result column="settled_trade_num" property="settledTradeNum"/>
        <result column="team_status" property="teamStatus"/>
        <result column="team_create_time" property="teamCreateTime"/>
        <result column="team_expire_time" property="teamExpireTime"/>
        <result column="team_end_time" property="teamEndTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="addGroupTeam" parameterType="GroupTeamPo">
        INSERT INTO group_buy_market_better.group_team(activity_id, group_team_id, leader_user_id, required_num,
                                                       current_num, settled_trade_num, team_status, team_create_time,
                                                       team_expire_time, create_time, update_time)
        values (#{activityId},
                #{groupTeamId},
                #{leaderUserId},
                #{requiredNum},
                #{currentNum},
                #{settledTradeNum},
                #{teamStatus},
                #{teamCreateTime},
                #{teamExpireTime},
                now(),
                now())
    </insert>

</mapper>
